.speech{
    font-style: normal 5px;
    color:black;
}
.direction{
    font-style: italic 3px;
    color: black;
    background-color: antiquewhite;
}
.direction:hover{
    background-color: rgb(46, 45, 79);
    color:aqua ;
}
#name{
    border-left: 0px;
    text-shadow: none;
}
#name:hover{
    color: darkgreen;
    text-shadow: 3px 3px 10px rgb(26, 3, 79);
}
.tuzenbach{
    color: blanchedalmond;
    font-style: italic;
}
.irina{
    color: blue;
    font-style: normal;
}
.fedotik{
    color: blueviolet;
    font-style: oblique;
}
.kuligin{
    color: brown;
    font-style: inherit;
}
.rode{
    color: burlywood;
    font-style: unset;
}
.chebutikin{
    color: chocolate;
    font-style: unset;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    color: chartreuse;
    text-align: center;
    row-gap: 20px;
    padding:2px;
    margin: 2px;
}
.navbar {
    background-color:blueviolet;
    color: red;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.navbar i {
    font-size: 24px;
    margin-bottom: 80px;
}
.navbar a:hover {
    color: goldenrod; 
}
.image{
     height: 300px;
     width: 100%;   
}