.speech{
    font-style:normal 5px;
    color:black;
}
.direction{
    font-style: italic 3px;
    color: black;
    background-color: antiquewhite;
}
.direction:hover{
    background-color: rgb(46, 45, 79);
    color:aqua ;
}
#name{
    border-left: 0px;
    text-shadow: none;
}
#name:hover{
    color: darkgreen;
    text-shadow: 3px 3px 10px rgb(26, 3, 79);
}
.tuzenbach{
    color: blanchedalmond;
    font-style: italic;
}
.irina{
    color: blue;
    font-style: normal;
}
.fedotik{
    color: blueviolet;
    font-style: oblique;
}
.kuligin{
    color: brown;
    font-style: inherit;
}
.rode{
    color: burlywood;
    font-style: unset;
}
.chebutikin{
    color: chocolate;
    font-style: unset;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: chocolate;
    color: chartreuse;
    text-align: center;
    row-gap: 20px;
    padding:2px;
    margin: 2px;
}
.navbar {
    background-color:blueviolet;
    color: green;
    text-align: center;
    padding: 10px;
    bottom: 0;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar:hover {
    color: goldenrod;
}
.image{
     height: 300px;
     width: 50%;   
}
.fa{
    font-size: 5px;
    color: aqua;
    padding: 0%;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    background-color: blueviolet;
    padding: 0;
    font-size: medium;
  
  }
  ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:beige;
  } 
  ul.navbar-horizontal a {
    display:block;
    padding:8px
  }
  ul.navbar-horizontal a:hover {  
    background-color:blue;
    color:white;
  }